[flake8]
# flake8 don't support pyproject.toml :/
accept-encodings = utf-8
max-complexity = 6
statistics = False
max-line-length = 120
doctests = True
enable-extensions = G
isort-show-traceback = True
count = True

ignore =
  D,
  W504

exclude =
  .git
  __pycache__
  .venv
  migrations
  tests

per-file-ignores =
  # Allow magic numbers for tests:
  */tests.py: WPS226, WPS432
  */server/settings.py: WPS226, WPS407, WPS412, WPS432
  # Tests have some more freedom:
  tests/*.py: S101,
