[flake8]
# flake8 don't support pyproject.toml :/
accept-encodings = utf-8
max-complexity = 6
statistics = False
max-line-length = 80
doctests = True
enable-extensions = G
isort-show-traceback = True

ignore =
  D,
  W504

exclude =
  .git
  __pycache__
  .venv
  migrations
  tests

per-file-ignores =
  # Allow magic numbers for tests:
  posts/tests.py: WPS226, WPS432
