{% extends 'base.html' %}
{% block content %}

<div class="container content">
    <div class="row">
        <div class="col-9">
            {% include 'posts/includes/author_block.html' with author=post.author %}

            <div class="posts">
                {% include 'posts/includes/post_item.html' with author=post.author post=post %}
            </div> <!-- /posts -->
        </div> <!-- /col-9 -->

        <!-- Sidebar -->
        <div class="col-3">
            {% include 'includes/sidebar.html' %}
        </div>
    </div>
</div>

{% endblock content %}
