<footer class="footer mt-auto">
    <div class="container d-flex">
        <div class="footer-logo">
            <a href="{% url 'index' %}">Ya<span>tube</span></a>
        </div>
        <div class="footer-links">
            <ul>
                <li class=""><a href="{% url 'about' %}">Об авторе</a></li>
                <li class=""><a href="{% url 'spec' %}">Технологии</a></li>
            </ul>
        </div>
        <div class="copyright ml-auto">
            <p>Социальная сеть<span> Ya</span>tube © {% now 'Y' %}, все права защищены.</p>
        </div>

    </div>
</footer>
