<footer class="footer_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer-content">
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Copywrite Text -->
                <div class="footer_links text-center">
                    <p><a href="/about-author/">Об авторе</a> - <a href="/about-spec/">Технологии</a></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- Copywrite Text -->
                <div class="copy_right_text text-center">
                    <p>Социальная сеть <span>Ya</span>tube © {{ year }}, все права защищены.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
