<div class="sidebar_block">
    <div class="sidebar_block_header">Популярное</div>
    <div class="sidebar_block_content">
        <div class="favorite">
            <div class="favorite_header"><a href="#">Записки Льва Толстого</a></div>
            <div class="favorite_buttons d-flex justify-content-between">
                <div class="favorite_author"><a href="#">@leo</a></div>
                <div><a href="#"><span>3</span> <i class="fa fa-comment-o" aria-hidden="true"></i></a></div>
            </div>
        </div>

        <div class="favorite">
            <div class="favorite_header"><a href="#">Да это же длинный пост с продолжением</a></div>
            <div class="favorite_buttons d-flex justify-content-between">
                <div class="favorite_author"><a href="#">@amnesia</a></div>
                <div><a href="#"><span>5</span> <i class="fa fa-comment-o" aria-hidden="true"></i></a></div>
            </div>
        </div>

        <div class="favorite">
            <div class="favorite_header"><a href="#">Что такое тестирование и для чего оно нам?</a></div>
            <div class="favorite_buttons d-flex justify-content-between">
                <div class="favorite_author"><a href="#">@don</a></div>
                <div><a href="#"><span>4</span> <i class="fa fa-comment-o" aria-hidden="true"></i></a></div>
            </div>
        </div>

        <div class="favorite">
            <div class="favorite_header"><a href="#">Виды тестирования</a></div>
            <div class="favorite_buttons d-flex justify-content-between">
                <div class="favorite_author"><a href="#">@helloworld</a></div>
                <div><a href="#"><span>9</span> <i class="fa fa-comment-o" aria-hidden="true"></i></a></div>
            </div>
        </div>

        <div class="favorite">
            <div class="favorite_header"><a href="#">До чего же хорошо в Саратове летом</a></div>
            <div class="favorite_buttons d-flex justify-content-between">
                <div class="favorite_author"><a href="#">@saratovinmyheart</a></div>
                <div><a href="#"><span>26</span> <i class="fa fa-comment-o" aria-hidden="true"></i></a></div>
            </div>
        </div>

    </div>
</div>

<div class="sidebar_block">
    <div class="sidebar_block_header">Тэги</div>
    <div class="sidebar_block_content tags">
        <ul>
            <li><a href="{% url 'posts:group' slug='test' %}">Test</a></li>
            <li><a href="#">PowerShell</a></li>
            <li><a href="#">T</a></li>
            <li><a href="#">python</a></li>
            <li><a href="#">django</a></li>
        </ul>
    </div>
</div>

<div class="sidebar_block">
    <div class="sidebar_block_header">Подписывайся</div>
    <div class="sidebar_block_content sidebar_block_links">
        <a href="https://www.facebook.com/denis.safique"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
        <a href="https://github.com/makafonov"><i class="fa fa-github-square"></i></a>
        <a href="https://www.instagram.com/safique_hm/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="https://t.me/makafonov" class="telegram"><i class="fa fa-telegram" aria-hidden="true"></i></a>
    </div>
</div>
