<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}The Last Social Media You'll Ever Need{% endblock %} | Yatube</title>

    <!-- Загрузка статики -->
    {% load static %}
    <script src="{% static 'js/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <!-- <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script> -->

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="" type="image/png">
</head>

<body class="d-flex flex-column h-100">
    {% include 'includes/nav.html' %}
        <main>
            {% block content %}
                <!-- Содержимое страницы -->
            {% endblock content %}
        </main>
    {% include 'includes/footer.html' %}
</body>

</html>
