{% extends "base.html" %}
{% block title %}Записи сообщества {{ group.title }}{% endblock %}
{% block content %}
<div class="container content">
    <div class="row">
        <div class="col-9">
            <!-- Карточка о группе -->
            <div class="info d-flex">
                <div class="img"></div>
                <div class="info_links d-flex flex-column">
                    <!-- Название группы -->
                    <h2>{{ group.title }}</h2>
                    <h3>{{ group.description }}</h3>
                    <div class="info_links_urls">
                        <div>Записей: {{ paginator.count }}</div>
                    </div>
                </div>
            </div>

            {% if paginator.count %}
                 <div class="posts">
                    <!-- Вывод ленты записей -->
                    {% for post in page %}
                        {% include 'includes/post_item.html' with author=post.author post=post %}
                        {% if not forloop.last %}
                            <div class="separator d-flex justify-content-center">...</div>
                        {% endif %}
                    {% endfor %}
                </div> <!-- /posts -->
            {% endif %}

        </div> <!-- /col-9 -->

        <!-- Sidebar -->
        <div class="col-3">
            {% include 'includes/sidebar.html' %}
        </div>
    </div> <!-- /.row -->
</div> <!-- /.container -->

<!-- Вывод паджинатора -->
{% if page.has_other_pages %}
    {% include 'includes/paginator.html' with items=page paginator=paginator%}
{% endif %}

{% endblock content %}
