{% extends 'base.html' %}
{% block title %} Последние обновления {% endblock %}

{% block content %}

<div class="container content">
    <div class="row">
        <div class="col-9">
            {% include 'includes/menu.html' with index=True %}

            <div class="posts">
                <div class="content-header">
                    <h1>Последние обновления на сайте</h1>
                </div>
{#                {% load cache %}#}
{#                {% cache 20 index_page %}#}
                    <!-- Вывод ленты записей -->
                    {% for post in page_obj %}
                        {% include 'includes/post_item.html' with post=post %}
                        {% if not forloop.last %}
                            <div class="separator d-flex justify-content-center">...</div>
                        {% endif %}
                    {% endfor %}
{#                {% endcache %}#}
            </div> <!-- /posts -->
        </div> <!-- /col-9 -->

        <!-- Sidebar -->
        <div class="col-3">
            {% include 'includes/sidebar.html' %}
        </div>
    </div>
</div>

<!-- Вывод паджинатора -->
{% if page_obj.has_other_pages %}
    {% include 'includes/paginator.html' with items=page_obj paginator=paginator%}
{% endif %}

{% endblock content %}
